In [3]:
cd Desktop/Siwes/

[WinError 3] The system cannot find the path specified: 'Desktop/Siwes/'
C:\Users\hp\Desktop\Siwes

In [4]:
import pandas as pd

In [5]:
df =pd.read_csv('heart_failure_clinical_records_dataset.csv')

In [6]:
df.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [7]:
from sklearn.ensemble import RandomForestClassifier

In [8]:
rfc = RandomForestClassifier()

In [9]:
df.columns

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time',
       'DEATH_EVENT'],
      dtype='object')

In [11]:
X= df.drop('DEATH_EVENT',axis=1)
y = df['DEATH_EVENT']

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [15]:
rfc.fit(X_train,y_train);

In [16]:
predictions = rfc.predict(X_test)

In [17]:
from sklearn.metrics import classification_report,confusion_matrix

In [19]:
print(confusion_matrix(predictions,y_test))
print("/n")
print(classification_report(predictions,y_test))

[[48 17]
 [ 5 20]]
/n
              precision    recall  f1-score   support

           0       0.91      0.74      0.81        65
           1       0.54      0.80      0.65        25

    accuracy                           0.76        90
   macro avg       0.72      0.77      0.73        90
weighted avg       0.80      0.76      0.77        90

In [22]:
import pickle

m = {"classifier": rfc}

with open("./model.pkl", "wb") as f:
    pickle.dump(m,f)

In [23]:
with open("./model.pkl", "rb") as f:
    model = pickle.load(f)['classifier']

In [25]:
a = [[75,0,582,0,20,1,26500,1.9,130,1,0,4]]
model.predict(a)

array([1], dtype=int64)